.unique-feature-area {
    background-color: #041e0fe8;
  }
  .section-gap {
    padding: 120px 0;
  }  
  .text-center {
    text-align: center;
  }

  .single-unique-product {
    width: 20%;
    height: 75%;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    
    display: inline-block;
  }


.single-unique-product:hover{
    transform: scale(1.1,1.1);
   
    
}

  .single-unique-product img {
    padding: 40px 0px;
  }
  
  .single-unique-product h6 {
    color: #235ee7;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .single-unique-product .desc {
    background-color: #f9f9ff;
    padding: 20px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
.text-white{
  font-size: 50px;
  color: #fff;
}
.text-whit{
  color: #fff;
}