.bodycontainer{
    width: 98%;
    height: auto;
    background-color: rgba(9, 209, 166, 0.308);
    border-radius: 5px;
    margin: 1%;
    padding-bottom: 10px;
}

.trail-textarea{
    padding: 5%;
    margin: auto;
    width: 80%;
    text-align: center;
}
.trail-txt{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.atrials{
  
    width: 70%;
    height:auto;
    background-color: rgba(245, 245, 220, 0.615);
    box-shadow: 10px;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 20px;
    
}
.atrials1{
    margin: 2px;
    
    
    
}
.atrials:hover{
    background-color: rgba(245, 245, 220, 0.888);
    transform: scale(1.02,1.02);
}
.atrials2{
    margin-left:  25%;

}
.trail1{
    display: inline-block;
    width: 49%;
}
.trail-text-details{
    text-align: center;
    
}
.tt{
   font-size: 35px; 

}
.more{
    color: black;
    text-decoration: none;
    font-size: larger;
    
}